.item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.item img {
  flex: 1;
  max-width: 100px;
}

.item p {
  flex: 3;
  margin: 0;
}

.item button {
  flex: 1;
  margin-left: 1rem;
}
