/* import de letras */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: black;
  background-image: url('../src/assets/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

